@model Discount

@{
    ViewData["Title"] = "CreateCode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CreateCode</h1>

<form method="post">

    <label>İndirim Kodu</label>
    <input type="text" class="form-control" asp-for="DiscountCode" value="@ViewBag.v"/>
    <br />
    <label>İndirim kodu kullanım sayısı</label>
    <input  type="text" class="form-control" asp-for="DiscountCount" style="background-color:dimgray"/>
    <br />
    <button class="btn btn-outline-primary">Kupon Oluştur</button>

</form>

