@model LoginViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

@*<div class="container">
    <h1 class="text-center">Login Page</h1>


    <form method="post">



        <br /><br />
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Şifreniz</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br />
        <button class="btn btn-primary text-center d-flex m-auto "> Giriş Yap</button>

    </form>
    <button class="btn btn-outline-primary">register</button>

</div>*@
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Login Page</h2>

                            <form method="post">

                                <br /><br />
                                <label>Kullanıcı Adınız</label>
                                <input type="text" class="form-control" asp-for="Username" />
                                <br />
                                <label>Şifreniz</label>
                                <input type="password" class="form-control" asp-for="Password" />
                                <br />
                                <div class="d-flex align-content-center justify-content-center">
                                    <button class="btn btn-primary text-center  m-auto p-1 w-100 text-center mr-1"> Giriş Yap</button>

                                    <a href="/Register/Index/" class="btn btn-outline-primary p-1 w-100 text-center ml-1">register</a>
                                </div>
                                <a href="/Default/Index/" class="btn btn-warning mt-2 w-100 text-center">Ana Sayfa</a>


                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

