@model Pizzapan.PresentationLayer.Models.ConfirmMailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <div class="container vh-100 w-100 d-flex flex-column "
         >
        
        <div class="row ">
            <div class="col-md-4 d-flex align-content-center justify-content-center m-auto w-50 mt-auto">
                <form asp-action="Index">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" value="@ViewBag.username" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmCode" class="control-label"></label>
                        <input asp-for="ConfirmCode" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Kaydet" class="btn btn-primary w-100 text-center" />
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex align-content-center justify-content-center">
            <a asp-action="Index">Back to List</a>
        </div>

    </div>



</body>
</html>
