@model Pizzapan.EntityLayer.Concrete.OurTeam

@{
    ViewData["Title"] = "UpdateTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Takım güncelleme sayfası</h1>

<form method="post">
    <input asp-for="OurTeamID" type="hidden"/>
    <label>adınız</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    <label>Soyadınız</label>
    <input asp-for="Surname" type="text" class="form-control"/>
    <br />
    <label>Meslek başlığı</label>
    <input type="text" asp-for="Title" class="form-control"/>
    <br />
    <input asp-for="Status" value="true" type="hidden"/>
    <button class="btn btn-success">Güncelle</button>

</form>

